include *.txt
include *.md
include *.pkl
recursive-include ./marktplaats_stream/*

include marktplaats/VERSION
include marktplaats/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]